
.box{background-color:#f1d5dd;
    margin: 0 auto;
    padding: 35px;
    max-width: 600px;
    display:block;
    border-radius: 12px;
    font-family: monospace;
}

#city{
        padding: 15px;
    border: none;
    width: 45%;
    font-size: 16px;
    border-radius: 12px;
    background-color: #ffe9e3;
}
#searching{
    padding: 15px;
    border: none;
    width: 20%;
    font-size: 16px;
    background-color:hsl(192, 77%, 76%);
    border-radius: 12px;
}
strong{color:#8d82df;}

.weather-data{display: block;
    border-top: 2px solid rgb(247, 170, 196);}
.weather-temp{display: flex;
justify-content:right; position: relative;
top: -90px;
left:-100px;
margin-bottom: -80px;
}
.weather-temp-number{font-size: 70px;
font-weight: bold;}

.weather-icon{font-size: 37px;
    display:flex;
    justify-content: space-between;
margin-top: -12px;
}

.weather-degree{
    font-size: 30px;
    margin-top: 10px;

}
a{color: #ee63d0;
}

.day{text-align: center;
color: #613864;
line-height: 15px;
font-size: 15px;
margin-bottom: 10px;
margin-top: 10px;}

.weather-forecast-icon{
    width: 70%;
        display: block;
        margin: 0 auto;
}
.weather-forecast-temps{
    text-align: center;
    color: #f6378f;
    display: flex;
    justify-content: center;
    margin: 10px;

}
.weather-forecast-2{
    padding: 0 5px;
}
.weather-forecast{
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    border-bottom: 2px solid rgb(247, 168, 194);;
}